################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Medoc/bin
/Medoc/obj
/MedocData/bin
/MedocData/obj
/MedocDto/bin/Debug
/MedocDto/obj/Debug
/packages
