
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Поиск</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Контрагент</label>
                    <input class="form-control" id="sClientInput"/>
                </div>
            </div>
            <div class="card-footer">
                <button id="searchContractBtn" class="btn btn-outline-primary">Найти<i class="fas fa-search fa-fw"></i></button>
                <button id="newContractBtn" class="btn btn-outline-success">Новый<i class="fas fa-plus fa-fw"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Договоры</h5>
            </div>
            <div class="card-body">
                <table id="contractTable" class="table table-bordered table-hover table-striped" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="newContractModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newContractTitle">Новый договор</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="newContractModalBody">
                <div class="form-row">
                    <div class="form-group required col-md-12" for="input">
                        <label>Номер договора</label>
                        <input id="contractNameInput" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Сумма договора</label>
                        <input id="contractSumInput" class="form-control" maxlength="12" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group required col-md-6" for="date">
                        <label>Дата договора с</label>
                        <div class="input-group date" id="contractFrom">
                            <input type="text" class="form-control">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text far fa-calendar-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>по</label>
                        <div class="input-group date" id="contractTo">
                            <input type="text" class="form-control">
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text far fa-calendar-alt"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group required col-md-12" for="input">
                        <label>Контрагент</label>
                        <input id="contractCounterpartyInput" data-provide="typeahead" class="typeahead form-control"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Комментарий</label>
                        <textarea rows="5" id="contractComment" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="updateContractBtn" class="btn btn-outline-primary">Сохранить и добавить файлы<i class="fas fa-save fa-fw"></i></button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть<i class="fas fa-times fa-fw"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="newContractFileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Файлы договора</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Тип файла</label>
                        <select id="contractFileType" class="form-control"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Файл договора</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="contractFile">
                            <label class="custom-file-label" for="customFile">Выберите файл</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button class="btn btn-block btn-outline-success" id="addContractFileBtn">Добавить</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть<i class="fas fa-times fa-fw"></i></button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="~/Scripts/Dictionaries/common.js"></script>
<script type="text/javascript" src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Contract/contract_model.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.get('/Dictionaries/Get', { dictType: _DictionaryType.FileTypes, showAll: false }, function (result) {
            PopulateSelect('#contractFileType', result.data);
        });
        populateTable();
    });


    $('#newContractBtn').on('click', function () {
        clearContract();
        $('#newContractModal').modal('show');
    });

    $('#contractFrom').datepicker({
        language: 'ru',
        todayHighlight: true,
        clearBtn: true
    });
    $('#contractTo').datepicker({
        language: 'ru',
        todayHighlight: true,
        clearBtn: true
    });


    $('#contractCounterpartyInput').typeahead({
        source: function (query, result) {
            $('#contractCounterpartyInput').removeAttr('data-id');
            $.get('/Clients/SearchTypeahead', { name: query }, function (data) {
                result(data);
            });
        },
        afterSelect: function (item) {
            $('#contractCounterpartyInput').attr('data-id', item.id);
        }
    });

    $('#updateContractBtn').on('click', function () {
        // заебенить получение файлов договора
        if (ValidateForm('#newContractModalBody')) {
            const model = collectContractModel();
            // сохраняем модель и смотрим на результат, если всё нормально - проходим дальше
            $.post('/Contract/Update', { model: model }, function (result) {
                console.log(result);
                if (!result.IsError) {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Договор успешно сохранен',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $('#newContractModal').modal('hide');
                    $('#newContractFileModal').attr('data-id', result.Id);
                    $('#newContractFileModal').modal('show');

                }
                else {
                    swal.fire(`Ошибка при сохранении договора:<br/>${result.Message}`, '', 'error');
                    return false;
                }
            });
        }
    });


    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });

    $('#addContractFileBtn').on('click', function () {
        const formData = new FormData();
        console.log(document.getElementById('contractFile').files[0]);
        formData.append('file', document.getElementById('contractFile').files[0]);
        formData.append('contractId', $('#newContractFileModal').attr('data-id'));
        formData.append('fileType', $('#contractFileType').val());
        $.ajax({
            url: '/Contract/Upload',
            type: 'POST',
            processData: false, // important
            contentType: false, // important
            data: formData,
            success: function (result) {
                console.log(result);
                if (!result.IsError) {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Файл успешно сохранен',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    $('#newContractFileModal').removeAttr('data-id');
                    $('#newContractFileModal').modal('hide');
                }
                else {
                    swal.fire(`Ошибка при добавлении файла:<br/>${result.Message}`, '', 'error');
                    return false;
                }
            }
        });
        
    });


    // таблица договоров
    function populateTable() {
        $('#contractTable').dataTable({
            "destroy": true,
            "ajax": {
                "url": "/Contract/GetTable",
                "data": { showAll: false }
            },
            "language": {
                "url": "Scripts/datatables_ru.json"
            },
            "columns": [
                { "defaultContent": "", "title": "Название" },
                { "defaultContent": "", "title": "Статус" },
                { "defaultContent": "", "title": "Клиент" },
                { "defaultContent": "", "title": "Сумма" },
                { "defaultContent": "" }
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row) {
                        return `<a href="javascript:" name="harmonizationLink" data-id="${row.Id}" data-toggle="tooltip" title="Согласование">${row.Name} от ${GetDateFromJson(row.CreateDate)}</a>`;
                    }                    
                },
                {
                    "targets": 1,
                    "render": function (data, type, row) {
                        return row.Status;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, row) {
                        return `${row.ClientName}<br/><small>${row.ClientInn}${row.ClientKpp == 'null' ? '' : ' - ' + row.ClientKpp}</small>`;
                    }
                },
                {

                    "targets": 3,
                    "render": function (data, type, row) {
                        return row.Sum.toLocaleString();
                    }
                },
                {

                    "targets": 4,
                    "render": function (data, type, row) {
                        return `<div class="btn-group" role="group">
  <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="Редактирование" data-id="${row.Id}"><i class="far fa-edit"></i></button>
  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" title="Файлы договора" data-id="${row.Id}"><i class="fas fa-file"></i></button>
  <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="Удаление договора" data-id="${row.Id}"><i class="fas fa-trash"></i></button>
</div>`;
                    }
                }
            ],
            "fnInitComplete": function (oSettings, json) {
                console.log(json);
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
</script>

